@import url("https://fonts.googleapis.com/css2?family=Anton+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

header nav {
  font-size: 15px;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

header nav .logo {
  width: 130px;
}

header nav .menu {
  display: flex;
  align-items: center;
}

nav .menu a {
  color: #fff;
  margin-left: 30px;
  position: relative;
}

nav .menu a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #dd0707;
  transition: 0.4s;
}

nav .menu a:hover::after {
  width: 100%;
}

.hero {
  width: 100%;
  height: 100vh;
  background: url(img/bg.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .text {
  width: 90%;
  margin: auto;
}

.hero .text h4 {
  font-size: 60px;
  color: white;
  font-weight: 500;
  margin-bottom: 10px;
}

.hero .text h1 {
  color: #fff;
  font-size: 90px;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 30px;
}

.hero .text h1 span {
  color: #dd0707;
  font-size: 80px;
  font-weight: bold;
}

.hero .text p {
  color: #fff;
  font-size: 20px;
  margin-bottom: 60px;
}

.hero .text .btn {
  padding: 17px 50px;
  background-color: #dd0707;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  border-radius: 30px;
  border: 2px solid #dd0707;
}

.hero .text .btn:hover {
  background-color: transparent;
}

nav .social a i {
  color: #fff;
  font-size: 22px;
  margin-left: 10px;
  transition: 0.3s;
}

nav .social a i:hover {
  transform: scale(1.3);
  color: #dd0707;
}

/* MERCEDES */
.mercedes {
  width: 100%;
  height: 100vh;
  background: url(img/mercedesamgone1.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mercedes .text {
  width: 90%;
  margin: auto;
}

.mercedes .text h4 {
  font-size: 40px;
  color: white;
  font-weight: 500;
  margin-bottom: 10px;
}

.mercedes .text h1 {
  color: #fff;
  font-size: 70px;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 30px;
}

.mercedes .text h1 span {
  color: #fd6500;
  font-size: 70px;
  font-weight: bold;
}

.mercedes .text p {
  color: #fff;
  font-size: 15px;
  margin-bottom: 60px;
}

.mercedes .text .btn {
  padding: 17px 50px;
  background-color: #fd6500;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  border-radius: 30px;
  border: 2px solid #fd6500;
}

.mercedes .text .btn:hover {
  background-color: transparent;
}

/* AUDI */
.audi {
  width: 100%;
  height: 100vh;
  background: url(img/audir8.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.audi .text {
  width: 90%;
  margin: auto;
}

.audi .text h4 {
  font-size: 40px;
  color: white;
  font-weight: 500;
  margin-bottom: 10px;
}

.audi .text h1 {
  color: #fff;
  font-size: 70px;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 30px;
}

.audi .text h1 span {
  color: #00e1ff;
  font-size: 70px;
  font-weight: bold;
}

.audi .text p {
  color: #fff;
  font-size: 15px;
  margin-bottom: 60px;
}

.audi .text .btn {
  padding: 17px 50px;
  background-color: #00e1ff;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  border-radius: 30px;
  border: 2px solid #00e1ff;
}

.audi .text .btn:hover {
  background-color: transparent;
}

/* BMW */
.bmw {
  width: 100%;
  height: 100vh;
  background: url(img/bmwi8.webp);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bmw .text {
  width: 90%;
  margin: auto;
}

.bmw .text h4 {
  font-size: 40px;
  color: white;
  font-weight: 500;
  margin-bottom: 10px;
}

.bmw .text h1 {
  color: #fff;
  font-size: 70px;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 30px;
}

.bmw .text h1 span {
  color: #a200ff;
  font-size: 70px;
  font-weight: bold;
}

.bmw .text p {
  color: #fff;
  font-size: 15px;
  margin-bottom: 60px;
}

.bmw .text .btn {
  padding: 17px 50px;
  background-color: #a200ff;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  border-radius: 30px;
  border: 2px solid #a200ff;
}

.bmw .text .btn:hover {
  background-color: transparent;
}

/* FORD */
.ford {
  width: 100%;
  height: 100vh;
  background: url(img/fordgt2.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ford .text {
  width: 90%;
  margin: auto;
}

.ford .text h4 {
  font-size: 40px;
  color: white;
  font-weight: 500;
  margin-bottom: 10px;
}

.ford .text h1 {
  color: #fff;
  font-size: 70px;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 30px;
}

.ford .text h1 span {
  color: #0065c4;
  font-size: 70px;
  font-weight: bold;
}

.ford .text p {
  color: #fff;
  font-size: 15px;
  margin-bottom: 60px;
}

.ford .text .btn {
  padding: 17px 50px;
  background-color: #0065c4;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  border-radius: 30px;
  border: 2px solid #0065c4;
}

.ford .text .btn:hover {
  background-color: transparent;
}

/*Transition text*/

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-left {
  animation: slideInLeft 0.7s forwards;
}

.slide-in-right {
  animation: slideInRight 0.7s forwards;
}

/* Register */
.auth-buttons {
  display: flex;
  align-items: center;
}

.auth-buttons .btn {
  padding: 4px 16px;
  margin-left: 10px;
  background-color: green;
  color: #fff;
  font-weight: bold;
  border-radius: 20px;
  border: 2px solid green;
  text-transform: uppercase;
  transition: 0.3s;
}

.auth-buttons .btn:hover {
  background-color: transparent;
  color: green;
}

/* Logo styles */
.logoo {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 70px; /* Adjust size as needed */
  height: auto;
  margin-top: 5px;
}

.logoo h2 {
  color: white;
  margin-left: 2px;
  margin-right: 2px;
}
