/* Logo styles */
.logoo {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 70px; /* Adjust size as needed */
  height: auto;
  margin-top: 5px;
}

.logoo h2 {
  color: white;
  margin-left: 2px;
  margin-right: 2px;
}
